<div class="field_container {{@class}}">
  <div class="field_holder">
    <select name={{@name}} id={{@id}} required>
      <option value="">Select {{@type}}</option>
      {{#each @content as |value|}}
        <option value={{value}}>{{value}}</option>
      {{/each}}
    </select>
  </div>
</div>